


i { 
    font-style: italic;
}

h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    color: #4aaaa5;
    border-bottom: 3px solid #dddddd;
}

h1 {
    font-size: 2em;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.3em;
    padding-bottom: 25px;
}

header {
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 4px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-bottom: 40px;
}

header section {
    width: 960px;
    margin: 0 auto;
}

#myName {
    height: 80px;
    padding: 0px 30px 0px 30px;
    float: left;
    line-height: 80px;
    background-color: #4aaaa5;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: whitesmoke;
}

nav {
    height: 100%;
    float: right;
}

.navButton {
    display: inline-block;
    height: 100%;
    line-height: 80px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.1em;
}

.navButton a {
    padding: 0px 30px 0px 30px;
    color: #999999;
    text-decoration: none;
}

#portButton a {
    border-left: 2px solid #efefef;
    border-right: 2px solid #efefef;
}

#bodyContent {
    width: 960px;
    margin: 0 auto;
    
}
body {
    background: url("../images/back.png");
    height: 100%;
    background-repeat: repeat;
  

}

#bodyContent::after {
    content: "";
    display: block;
    clear: both;
}

#mainContent {
    width: 590px;
    padding: 40px 30px 40px 30px;
    margin-bottom: 50px;
    background-color: white;
    box-shadow: 4px 4px 15px 2px #333333;
    float: left;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 1.2em;
    line-height: 2em;
}

#mainContent p {
    margin: 16px 0px 16px 0px;
    text-indent: 30px;
}

#profilePic {
    width: 240px;
    height: 240px;
    float: left;
    margin: 0px 20px 10px 0px;
}


.thumbnail {
    position: relative;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all .8s ease;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.thumbnail img {
    max-width: 270px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.label {
    position: absolute;
    bottom: 20px;
    left: 0px;
    height: 60px;
    line-height: 60px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.2em;
    background-color: rgba(74, 170, 165, .7);
}

textarea {
    resize: none;
    width: calc(100% - 20px);
    font-size: 1em;
    padding: 5px 5px 5px 15px;
}

input {
    width: calc(100% - 20px);
    padding: 5px 5px 5px 15px;
    font-size: .8em;
}

#submitButton {
    background-color: #4aaaa5;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
    width: auto;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
}



#middleIcon {
    margin: 0px 10px 0px 10px;
}



footer, .push {
    height: 80px;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    line-height: 80px;
    color: #CCCCCC;
    text-align: center;
}

@media screen and (max-width: 980px) {
    header section {
        width: 720px;
        margin: 0 auto;
    }
    
    .navButton a {
        padding: 0px 15px 0px 15px;
        color: #999999;
        text-decoration: none;
    }

    #bodyContent {
        width: 720px;
        margin: 0 auto;
    }

    #mainContent {
        width: 380px;
        padding: 40px 30px 40px 30px;
        margin-bottom: 50px;
        background-color: white;
        box-shadow: 4px 4px 15px 2px #333333;
        float: left;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        color: #777777;
        font-size: 1.2em;
        line-height: 2em;
    }
    
    #profilePic {
        width: 380px;
        height: 380px;
        margin: 0px 0px 20px 0px;
    }
    
    .thumbnail {
        position: relative;
        margin-bottom: 40px;
        cursor: pointer;
        transition: all .8s ease;
    }

    .thumbnail img {
        max-width: 380px;
    }
    
    .left {
        float: none;
    }
    
    .right {
        float: none;
    }

    #middleIcon {
        margin: 0px 6px 0px 6px;
    }

    
}
@media screen and (max-width: 768px) {
    header section {
        width: 600px;
        margin: 0 auto;
    }
    
    .navButton a {
        padding: 0px 5px 0px 5px;
        color: #999999;
        text-decoration: none;
    }

    #bodyContent {
        width: 600px;
        margin: 0 auto;
       
    }

    #mainContent {
        width: 540px;
        padding: 40px 30px 40px 30px;
        margin-bottom: 50px;
        background-color: white;
        box-shadow: 4px 4px 15px 2px #333333;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        color: #777777;
        font-size: 1.2em;
        line-height: 2em;
    }
    
    #profilePic {
        width: 240px;
        height: 240px;
        float: left;
        margin: 0px 20px 10px 0px;
    }

    .thumbnail {
        position: relative;
        margin-bottom: 40px;
        cursor: pointer;
        transition: all .8s ease;
    }

    .thumbnail img {
        max-width: 250px;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    #middleIcon {
        margin: 0px 10px 0px 10px;
    }

    #sideBar {
        width: 560px;
        margin-bottom: 50px;
        padding: 40px 20px 40px 20px;
        background-color: white;
        box-shadow: 4px 4px 15px 2px #333333;
    }
}
@media screen and (max-width: 640px) {
    header section {
        width: 100%;
    }

    #myName {
        width: 100%;
    }

    nav {
        width: 100%;
        background-color: white;
        margin-bottom: 40px;
    }

    .navButton {
        width: 33.33%;
        float: left;
        height: 50px;
        line-height: 50px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        text-align: center;
        font-size: 1.1em;
    }
    
    .navButton a {
        color: #999999;
        text-decoration: none;
    }

    #portButton a {
        border: none;
    }

    #bodyContent {
        width: 100%;
    }

    #mainContent {
        width: calc(100% - 120px);
        padding: 40px 30px 40px 30px;
        margin: 0px 0px 50px 30px;
        background-color: white;
        box-shadow: 4px 4px 15px 2px #333333;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        color: #777777;
        font-size: 1.2em;
        line-height: 2em;
    }
    
    #profilePic {
        width: 100%;
        height: 100%;
        margin: 0px 0px 20px 0px;
    }

    .thumbnail {
        position: relative;
        margin-bottom: 40px;
        cursor: pointer;
        transition: all .8s ease;
    }

    .thumbnail img {
        max-width: 100%;
    }
    
    .left {
        float: none;
    }
    
    .right {
        float: none;
    }

    #middleIcon {
        margin: 0px 10px 0px 10px;
    }

    
}